<ion-header>
  <ion-toolbar>
    <ion-title>Photos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Capturing the essence of the view</h1>
  <ion-nav-link router-direction="forward" [component]="component">
    <p class="navigate">Find our location</p>
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-nav-link>

  <div class="image__container">
    <ion-row>
      <ng-container *ngFor="let data of jsonData">
        <ion-col size="3">
          <div id="{{ data.id }}" expand="block">
            <ion-img src="{{ data.image }}" alt="jpg"></ion-img>
          </div>
          <ion-modal id="example-modal" #modal trigger="{{ data.id }}">
            <ng-template>
              <div class="expanded__image">
                <div class="expanded__image-close">
                  <ion-icon
                    name="close-circle-outline"
                    (click)="modal.dismiss()"
                  ></ion-icon>
                </div>
                <ion-img src="{{ data.image }}" alt="jpg"></ion-img>
              </div>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ng-container>
    </ion-row>
  </div>
</ion-content>
