<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/images/homecoffee1.jpg" />

  <h1>Cafedra</h1>

  <p>Welcome to our cozy coffee haven!</p>

  <div class="icons__wrapper">
    <p>Follow us</p>
    <div class="icons__wrapper-icons">
      <ion-icon class="ig" name="logo-instagram"></ion-icon>
      <ion-icon class="fb" name="logo-facebook"></ion-icon>
    </div>
  </div>

  <div class="container">
    <div class="wrapper">
      <div class="words">
        <p>Macchiato</p>
        <p>Espresso</p>
        <p>Cappuccino</p>
        <p>Macchiato</p>
      </div>
      <div class="words">
        <p>Espresso</p>
        <p>Cappuccino</p>
        <p>Macchiato</p>
        <p>Espresso</p>
      </div>
      <div class="words">
        <p>Cappuccino</p>
        <p>Macchiato</p>
        <p>Espresso</p>
        <p>Cappuccino</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer"
      >Copyright <span>2013 - {{ year }}</span> &copy; Cafedra</ion-title
    >
  </ion-toolbar>
</ion-footer>
